---

version: '3.9'

services:
  web:
    build: .
    command: 'make start'
    ports:
      - 5000:5000
    volumes:
      - .:/app
      - /tmp:/tmp
      - bundle_cache:/bundle_cache
    depends_on:
      - db
    stdin_open: true
    tty: true
  db:
    image: postgres:13-alpine
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust

volumes:
  pgdata:
  bundle_cache:
